<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Knv.MRLY240314.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Knv.Fan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Knv.Fun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Knv.MRLY240314.Properties.Settings>
            <setting name="SeriaPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="TraceViewAutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MeasurementDelayTimeMs" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="OpenLowLimit" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="OpenHighLimit" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="CloseLowLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CloseHighLimit" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BypassResistorLowLimit" serializeAs="String">
                <value>209</value>
            </setting>
            <setting name="BypassResistorHighLimit" serializeAs="String">
                <value>231</value>
            </setting>
            <setting name="ReportDirectory" serializeAs="String">
                <value />
            </setting>
        </Knv.MRLY240314.Properties.Settings>
        <Knv.Fan.Properties.Settings>
            <setting name="SeriaPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="TraceViewAutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectOnStart" serializeAs="String">
                <value>False</value>
            </setting>
        </Knv.Fan.Properties.Settings>
        <Knv.Fun.Properties.Settings>
            <setting name="SeriaPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="TraceViewAutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
        </Knv.Fun.Properties.Settings>
    </userSettings>
</configuration>